<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tinder</title>
        <!-- Page CSS -->
        <link rel="stylesheet" href="../assets/css/tinder.css" />
    </head>

    <body>
        <div class="smartphone">
            <div class="screen">
                <div class="topbar">
                    <div class="topbar-left">
                        <div class="clock">00:00</div>
                        <i class="fa fa-youtube-play"></i>
                    </div>
                    <div class="topbar-middle">
                        <div class="camera"></div>
                        <div class="camera-lens"></div>
                        <div class="inner-lens"></div>
                    </div>
                    <div class="topbar-right">
                        <i class="fa fa-signal"></i>
                        73%
                        <i class="fa fa-battery-three-quarters"></i>
                    </div>
                </div>
                <nav class="navbar">
                    <i class="fa-solid fa-circle-user"></i>
                    <i class="fa-solid fa-fire-flame-curved"></i>
                    <i class="fa-solid fa-comment-dots"></i>
                </nav>
                <div class="person">
                    <figure class="photo">
                        <div class="personal">
                            <div class="name-age">
                                <h2 class="name">Lorem</h2>
                                <h2 class="age">26</h2>
                            </div>
                            <div class="data">
                                <p> 
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, quasi cum a voluptatibus eius eum temporibus? Voluptate quidem odio consectetur ea veniam debitis repellat aspernatur, molestiae reiciendis eaque quod perspiciatis. Lorem Ipsum d
                                </p>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="commands">
                    <div class="command">
                        <i class="fa-solid fa-forward"></i>
                    </div>
                    <div class="command">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                </div>
                <footer>
                    <i class="fa fa-reorder"></i>
                    <i class="fa fa-square-o"></i>
                    <i class="fa fa-chevron-left"></i>
                </footer>
            </div>
        </div>
        <!-- Page JS -->
        <script src="../assets/js/tinder.js"></script>
    </body>
</html>
